# ==========================================
# NeKoRoSHELL: User Configurations & Scripts
# ==========================================

.config/hypr/user/configs/*
.config/hypr/user/scripts/*
.config/hypremoji/recents.json
!.config/hypr/user/templates/
