@import "/home/nekorosys/.cache/wallust/colors-waybar.css";

:root {
    --noti-bg: color-mix(in srgb, @background, transparent 39%); 
    --noti-bg-clearer: color-mix(in srgb, @background, transparent 65%); 
    --noti-border: @color13;
    --noti-radius: 0.625rem;
    --noti-margin: 1.25rem;
    
    --bg-selected: transparent;
    --noti-bg-hover: color-mix(in srgb, @text, transparent 93%);
    --noti-bg-focus: transparent;
    
    --font: "JetBrainsMono Nerd Font", monospace;
    --font-bold: "JetBrains Mono Extrabold";
    --text-color: @text;
    --text-color-invert: @text-invert;
    --text-disabled: #969696;
    --notification-icon-size: 4rem;
    --notification-app-icon-size: 1.3125rem;
}

* {
    font-family: var(--font);
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -gtk-outline-style: none !important;
    -gtk-outline-width: 0 !important;
    -gtk-outline-color: transparent !important;
}

row:selected, 
row:hover,
row:active,
list,
listbox,
listboxrow,
viewport, 
stack,
label:focus,
button:focus {
    background: transparent !important;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

/* 3. MAIN PANELS */
notificationwindow, blankwindow {
    background: transparent;
}

.control-center {
    background: var(--noti-bg);
    border: 0.155rem solid var(--noti-border); 
    border-radius: var(--noti-radius);    
    margin: var(--noti-margin);           
    box-shadow: -0.9375rem 0rem 1.25rem 0.0625rem rgba(0, 0, 0, 0.4), 0 0 0.25rem @color0;
}

.control-center .placeholder {
  color: black;
}


/* 4. NOTIFICATION CARDS */

.notification-row {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

.notification-background {
    background: transparent;
    padding: 0.375rem 0.75rem;
}

.notification {
    background: var(--noti-bg);
    border: 0.125rem solid var(--noti-border);
    border-radius: var(--noti-radius);
    transition: background 0.15s ease-in-out;
}

.notification-content .summary {
    text-shadow: 0 0 0.3125rem white;
}

.notification-content .image {
    padding-right: 0.3125rem;
    margin: 0.625rem;
    min-width: 4rem;    /* Force a specific width */
    min-height: 4rem;
    object-fit: cover;
    border-radius: 0.75rem;
}

.notification-content .app-icon {
    -gtk-icon-size: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    margin: 0.3125rem;
}

.notification-row .notification-background .close-button {
    opacity: 0;
    position: relative;
    pointer-events: none;
    z-index: -1;
    display: none !important; 
    background: @noti-close-bg;
}


/* 5. INLINE REPLIES & ACTIONS */
.notification-default-action {
    background: transparent;
    border-radius: var(--noti-radius);
}

.notification-default-action:hover {
    background: var(--noti-bg-hover);
}

.inline-reply {
    margin-top: 0.5rem;
    background: transparent;
}

.inline-reply-entry {
    background: rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    border: 0.0625rem solid var(--noti-border);
    border-radius: var(--noti-radius);
    padding: 0.25rem;
}

.inline-reply-entry:focus {
    background: rgba(0, 0, 0, 0.4);
    border: 0.0625rem solid var(--noti-border);
    outline: none !important;
}

.inline-reply-button {
    background: var(--noti-bg);
    border: 0.0625rem solid var(--noti-border);
    border-radius: var(--noti-radius);
    color: var(--text-color);
    margin-left: 0.25rem;
}

.inline-reply-button:hover {
    background: @color5;
    color: @color0;
}

.notification-action {
    margin: 0.25rem;
}

.notification-action > button {
    text-shadow: 0 0 0.3125rem white;
    background: rgba(255, 255, 255, 0.05);
    border: 0.0625rem solid var(--noti-border);
    border-radius: var(--noti-radius);
    color: var(--text-color);
}

.notification-action > button:hover {
    background: var(--noti-bg-hover);
}

/* 6. WIDGETS */
.widget {
    margin: 0.5rem;
    padding: 0.5rem;
}

.widget-title {
    padding-top: 5x;
}

.widget-title > label {
    text-shadow: 0 0 0.3125rem white;
    font-family: var(--font-bold);
    font-size: 24pt;
    color: var(--text-color);
    margin-left: 0.3125rem;
}

.widget-title button {
    background: var(--noti-bg-clearer);;
    margin-right: 0.3125rem;
    border: 0.0625rem solid #45475a;
    border-bottom: 0.175rem solid @fg;
    color: var(--text-color);
    transition: background 0.15s ease-in-out;
}

.widget-title button:hover {
    background: var(--text-color);
    border-bottom: 0.175rem solid @color5;
    color: @text-invert;
}

/* Container for the DND row */
.widget-dnd {
    margin: 0.5rem;
    font-family: var(--font);
}

/* "Do Not Disturb" text */
.widget-dnd > label {
    font-size: 13.2pt;
    font-weight: normal;
    margin-left: 0.3125rem;
    color: var(--text-color);
}

/* The toggle switch */
.widget-dnd switch {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.25rem;
    border: 0.0625rem solid var(--noti-border);
    margin-right: 0.3125rem;
}

/* The slider circle inside the switch */
.widget-dnd switch slider {
    background: var(--text-color);
    border-radius: 1.25rem;
}

/* Switch state when turned ON */
.widget-dnd switch:checked {
    background: @color5;
}

.widget-mpris-player {
    @mpris-album-art;
    background: var(--noti-bg);
    border: 0.125rem solid var(--noti-border);
    border-radius: var(--noti-radius);
    margin: 0.3125rem;
}

.widget-mpris-album-art {
    border-radius: 0.75rem;
}

.widget-buttons-grid {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, alpha(@color5, 0.25) 100%);
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.9375rem;
  border-bottom: 0.175rem solid @color5;
}

/* Individual button styling */

.widget-buttons-grid > flowbox > flowboxchild {
  background-color: rgba(0, 0, 0, 0);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: var(--noti-bg-clearer);
  border: 0.0625rem solid #45475a;
  border-radius: 62.4375rem; 
  padding: 0.25rem 1.975rem;    /* Vertical vs Horizontal padding */
  transition: all 0.15s ease-in-out;
  margin: 0.3125rem;  
  border-bottom: 0.175rem solid @fg;
  color: var(--text-color);
}

/* Hover and Active (Toggle) states */

.widget-mpris {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0rem;
  border-radius: 0;
}

.widget-notifications {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, alpha(@color5, 0.25) 100%);
  margin-left: 1.25rem;
  border-bottom: 0.175rem solid @color5;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @text;
  color: @text-invert;
  border-bottom: 0.175rem solid @color5;
}

/* Special styling for active toggle buttons */
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  text-shadow: 0 0 0.3125rem white;
  background-color: @color5;
  border-bottom: 0.175rem solid @color13;
  color: white;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
  text-shadow: 0 0 0.3125rem white !important;
  background-color: @color13;
  border-bottom: 0.175rem solid @color5;
  color: white;
}

