@import "colors.css";

* {
    font-family: 'JetBrains Mono Nerd Font';
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

#waybar {
    font-weight: 700;
    background: transparent;
    font-size: 9pt;
    color: @text;
    border-radius: 0.9375rem;
    padding: 0 0.9375rem;
}

.modules-left,
.modules-center,
.modules-right {
    margin-bottom: -0.625rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    padding: 0.625rem;
}

tooltip {
    padding: 0.5rem;
    border-radius: 0.9375rem;
    background: @tooltip-bg;
}

tooltip label {
    padding: 0.5rem;
    font-weight: bold;
    color: @text;
}

.popup * {
    box-shadow: none;
    outline: none;
}

#tray {
    background: @background;
    border: 0.0625rem solid @border;
    border-radius: 0.5rem;
    padding: 0.125rem 0.375rem;
    margin-left: 0.375rem;
}

#tray menu, 
menu {
    background: @text-invert;
    border-radius: 0.625rem;
    font-size: 10.5pt;
    font-weight: 700;
    color: @text;
}

#tray menu > *, 
menu > * {
    padding: 0.1875rem 0rem;
}

#tray menu > *:hover, 
menu > *:hover {
    border-radius: 0.625rem;
    background-color: @inactive;
}

#custom-tray-icon {
    color: @foreground;
    padding: 0 0.625rem;
}

#tray-drawer:hover #custom-tray-icon {
    text-shadow: 0 0 0.3125rem black, 0 0 0.25rem black, 0 0 0.125rem black;
    color: @accent;
}

#backlight, 
#battery, 
#bluetooth, 
#cpu, 
#idle_inhibitor, 
#load, 
#memory, 
#network, 
#temperature, 
#wireplumber {
    padding: 0.125rem 0.4375rem;
}

#backlight, 
#battery, 
#bluetooth, 
#cpu, 
#idle_inhibitor, 
#load, 
#memory, 
#network, 
#temperature, 
#wireplumber, 
#workspaces {
    background: transparent;
    border-radius: 0.9375rem;
    margin: 0 0.125rem;
}

#custom-ctlcenter, 
#custom-logout, 
#custom-start, 
#gleft1, 
#gleft2, 
#gright1, 
#gright2, 
#power-profiles-daemon {
    padding: 0.125rem 0.5625rem;
    border-bottom: 0.125rem solid @color5;
    border-radius: 0.9375rem;
    background: alpha(@background, 0.75);
}

#clock {
    padding: 0.125rem 1.125rem;
    border-radius: 0.9375rem;
    border-bottom: 0.125rem solid @color5;
    background: alpha(@background, 0.75);
}

#gleft1 { margin: 0 0 0 0.5rem; }
#gleft2 { margin: 0 0.5rem; }
#gright1 { margin: 0 0.5rem 0 0; }
#gright2 { margin: 0 0.5rem; }

#workspaces button {
    color: @workspace-fg;
    font-size: 10.5pt;
    border-radius: 0.9375rem;
    margin: 0 0.4375rem;
}

#workspaces button:hover {
    background: transparent;
}

#custom-logout {
    color: @red;
    margin-right: 0.3125rem;
    padding: 0 0.75rem;
}

#custom-ctlcenter {
    color: @color11;
    margin-right: 0.3125rem;
    padding: 0 0.75rem;
}

#power-profiles-daemon {
    margin-left: 0.3125rem;
    padding: 0 0.75rem;
    color: @text;
}

#battery.critical, 
#cpu.critical, 
#memory.critical, 
#temperature.critical, 
#network.disconnected {
    color: @red;
}

#battery.warning, 
#cpu.warning, 
#memory.warning, 
#temperature.warning {
    color: @yellow;
}

#power-profiles-daemon.performance { color: red; }
#power-profiles-daemon.power-saver { color: green; }
#power-profiles-daemon.balanced { color: cornflowerblue; }

#idle_inhibitor.activated {
    color: @accent; 
}

#idle_inhibitor.deactivated {
    color: @text;
}
