@import "colors.css";

* {
    font-family: 'JetBrains Mono Nerd Font';
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

#waybar {
    font-weight: 700;
    background: transparent;
    font-size: 12px;
    color: @text;
    border-radius: 15px;
    padding: 0 15px;
}

.modules-left,
.modules-center,
.modules-right {
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

tooltip {
    padding: 8px;
    border-radius: 15px;
    background: @tooltip-bg;
}

tooltip label {
    padding: 8px;
    font-weight: bold;
    color: @text;
}

.popup * {
    box-shadow: none;
    outline: none;
}

#tray {
    background: @background;
    border: 1px solid @border;
    border-radius: 8px;
    padding: 2px 6px;
    margin-left: 6px;
}

#tray menu, 
menu {
    background: @text-invert;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: @text;
}

#tray menu > *, 
menu > * {
    padding: 3px 0px;
}

#tray menu > *:hover, 
menu > *:hover {
    border-radius: 10px;
    background-color: @inactive;
}

#custom-tray-icon {
    color: @foreground;
    padding: 0 10px;
}

#tray-drawer:hover #custom-tray-icon {
    text-shadow: 0 0 5px black, 0 0 4px black, 0 0 2px black;
    color: @accent;
}

#backlight, 
#battery, 
#bluetooth, 
#cpu, 
#idle_inhibitor, 
#load, 
#memory, 
#network, 
#temperature, 
#wireplumber {
    padding: 2px 7px;
}

#backlight, 
#battery, 
#bluetooth, 
#cpu, 
#idle_inhibitor, 
#load, 
#memory, 
#network, 
#temperature, 
#wireplumber, 
#workspaces {
    background: transparent;
    border-radius: 15px;
    margin: 0 2px;
}

#custom-ctlcenter, 
#custom-logout, 
#custom-start, 
#gleft1, 
#gleft2, 
#gright1, 
#gright2, 
#power-profiles-daemon {
    padding: 2px 9px;
    border-bottom: 2px solid @color5;
    border-radius: 15px;
    background: alpha(@background, 0.75);
}

#clock {
    padding: 2px 18px;
    border-radius: 15px;
    border-bottom: 2px solid @color5;
    background: alpha(@background, 0.75);
}

#gleft1 { margin: 0 0 0 8px; }
#gleft2 { margin: 0 8px; }
#gright1 { margin: 0 8px 0 0; }
#gright2 { margin: 0 8px; }

#workspaces button {
    color: @workspace-fg;
    font-size: 14px;
    border-radius: 15px;
    margin: 0 7px;
}

#workspaces button:hover {
    background: transparent;
}

#custom-logout {
    color: @red;
    margin-right: 5px;
    padding: 0 12px;
}

#custom-ctlcenter {
    color: @color11;
    margin-right: 5px;
    padding: 0 12px;
}

#power-profiles-daemon {
    margin-left: 5px;
    padding: 0 12px;
    color: @text;
}

#battery.critical, 
#cpu.critical, 
#memory.critical, 
#temperature.critical, 
#network.disconnected {
    color: @red;
}

#battery.warning, 
#cpu.warning, 
#memory.warning, 
#temperature.warning {
    color: @yellow;
}

#power-profiles-daemon.performance { color: red; }
#power-profiles-daemon.power-saver { color: green; }
#power-profiles-daemon.balanced { color: cornflowerblue; }

#idle_inhibitor.activated {
    color: @accent;
}

#idle_inhibitor.deactivated {
    color: @text;
}
